.main{
    min-height: 100px;
	min-width: 100px;
	float: left;
	min-width: 300px;
}
.leftContainer{
	width: 180px;
	float: left;
}
.label1{
    /*min-height: 100px;*/
	float: top;
	text-align: center;
	font: bold italic 150% serif; 
}
.label2{
    /*min-height: 100px;*/
	min-width: 100px;
	float: top;
	text-align: left;
	padding: 15px 0px 10px 8px;
}
.commonInputContainer{
	width: 250px;
	padding-left: 10px;
	padding-top: 10px;
}
.inputContainer1{
    /*min-height: 100px;*/
	/*min-width: 100px;*/
	float: bottom;
}
.inputContainer2{
    /*min-height: 100px;*/
	/*min-width: 100px;*/
	float: left;
	padding-right: 5px;
	/*padding: 10px 0px 15px 20px;*/
}
.label3{
    /*min-height: 100px;*/
	/*min-width: 100px;*/
	float: bottom;
	text-align: center;
}
.buttons{
    min-height: 100px;
	min-width: 100px;
	float: left;
	padding: 10px 0px 5px 10px;
}
.descriptionContainer{
	width: 150px;
	height: 100px;
	float:left;
	/*padding-left: 10px;*/
	resize: none;
	text-align: center;
}
.textarea {
    width: 130px; /* Ширина поля в процентах */
    height: 132px; /* Высота поля в пикселах */
    resize: none; /* Запрещаем изменять размер */
  } 