.TR_main{
	width: 1140px;
	float: left;
	background-color: #87CEFA;
	border-radius: 10px;
	padding: 10px;
}
.TR_main_label{
	width: 1120px;
	float: left;
	text-align: center;
	font: bold italic 150% serif;
	padding: 10px;
}
.TR_big_Container{
	float: left;
	width: 1120px;
}
.TR_label_1{
	float: left;
	text-align: center;
	margin: 10px;
	width: 1120px;
}
.TR_input_container{
	width: 1120px;
	float: left;
	padding: 10px;
}
.TR_table_container{
	width: 1120px;
	padding: 5px;
	float: left;
	overflow: auto;
}
.buttons{
	padding: 5px;
	float: left;
}