.main{
    min-height: 100px;
	min-width: 200px;
	float: left;
	clear: both;
}
.label1{
    /*min-height: 100px;*/
	min-width: 400px;
	float: top;
	text-align: center;
	font: bold italic 150% serif; 
}
.bigContainer{
	min-width: 200px;
	float: left;
}
.label2{
    /*min-height: 100px;*/
	min-width: 100px;
	float: top;
	text-align: left;
	padding: 15px 0px 10px 8px;
}
.label3{
    /*min-height: 100px;*/
	min-width: 100px;
	float: top;
	text-align: left;
	padding: 15px 0px 10px 8px;
}
.tables{
	overflow: auto;
	/*min-height: 100px;*/
	min-width: 100px;
	max-height: 200px;
	max-width: 300px;
	padding: 15px 0px 10px 8px;
}
.buttons{
	min-height: 20px;
	min-width: 50px;
	padding: 15px 0px 10px 8px;
}