.main{
    min-height: 100px;
	min-width: 100px;
	float: left;
}
.label1{
    /*min-height: 100px;*/
	min-width: 100px;
	float: top;
	text-align: center;
	font: bold italic 150% serif; 
}
.label2{
    /*min-height: 100px;*/
	min-width: 100px;
	float: top;
	text-align: left;
	padding: 15px 0px 10px 8px;
}
.label3{
    /*min-height: 100px;*/
	/*min-width: 100px;*/
	float: bottom;
	text-align: center;
}
.label4{
    /*min-height: 100px;*/
	/*min-width: 100px;*/
	float: left;
	/*text-align: center;*/
	padding: 10px 0px 10px 8px;
}
.inputContainer1{
    /*min-height: 100px;*/
	/*min-width: 100px;*/
	float: bottom;
}
.inputContainer2{
    /*min-height: 100px;*/
	/*min-width: 100px;*/
	float: left;
	padding: 10px 0px 5px 20px;
}
.inputContainer3{
    /*min-height: 100px;*/
	min-width: 100px;
	float: left;
	padding: 10px 0px 10px 8px;
}
.inputContainer4{
    /*min-height: 100px;*/
	/*min-width: 500px;*/
	float: top;
	padding: 0px 0px 15px 15px;
}

.buttons{
    /*min-height: 100px;*/
	min-width: 200px;
	float: left;
	padding: 10px 0px 5px 20px;
}